<!-- index.html -->
<!DOCTYPE html>
<html>
  <head>
    <title>Turn 100</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
  </head>
  <body>
    <form action="/" method="post" class="form-container">
      <h1>What year will you turn 100</h1>
      <label>Name:</label>
      <input type="text" name="name" required>
      <br>
      <label>Age:</label>
      <input type="number" name="age" required>
      <br>
      <label>Current Year:</label>
      <input type="number" name="current_year" required>
      <br>
      <input type="submit" value="Submit" class="submit-button">
    </form>
  </body>
</html>
